.fa-github,
.fa-linkedin {
    color: #00073a;
    padding-right: 15px;
}

.fa-github:hover,
.fa-linkedin:hover {
    color: #ff6504;
}

.jt-hr{
    background-color: #fff;
    color: #fff;
}

.jumbotron {
    background-color: #00073a;
}

.jt-p {
    width: 70%;
    margin: auto;
}