.nav-link,
#skills,
#projects,
#contact {
    color: #00073a;
}

.nav-link:hover {
    color: #fff;
}



.fa-github,
.fa-linkedin {
    color: #00073a;
    padding-right: 15px;
    float: right;
}

.fa-github:hover,
.fa-linkedin:hover {
    color: #ff6504;
}

.jt-hr{
    background-color: #fff;
    color: #fff;
}

.jumbotron {
    background-color: #00073a;
}

.jt-p {
    width: 70%;
    margin: auto;
}

.jumbotron {
    border-radius: 0;
}

#skills,
#projects,
#contact {
    Width: 100%;
 
}

.inner,
.sk-container {
    width: 70%;
    margin: auto;
}

.col-sm {
    margin: 1%;
    border: 1px solid #00073a;
    border-radius: 5px;
    padding-top: 5px;
}


footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both; 
    z-index: 10; 
    height: 3em;
    padding-top: .75em; 
    color: #00073a;
}